name: MLOps Model CI + MLflow

on:
  push:
    branches:
      - dev
      - main
  pull_request:
    branches:
      - main
permissions:
    contents: write
    pull-requests: write

env:
  PROJECT_ID: keen-phalanx-473718-p1
  AR_REGION: us-central1              
  AR_REPOSITORY: mlops-mlflow               
  IMAGE_NAME: fastapi-backend                   
jobs:
  test-and-validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
    
      - name: Setup CML (Continuous Machine Learning)
        uses: iterative/setup-cml@v2.0.1
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Google Cloud Authentication
        id: 'auth'
        uses: 'google-github-actions/auth@v3'
        with:
          credentials_json: '${{ secrets.GCP_SA }}'
    
      - name: Pulling Data using DVC
        run: |
          dvc pull

      - name: Configure Docker for Artifact Registry
      # This command uses the gcloud credentials to authorize Docker access.
        run: |
          gcloud auth configure-docker ${{ env.AR_REGION }}-docker.pkg.dev
        
      - name: Build and Push Docker Image to Artifact Registry
        id: docker-build-push
        run: |
        # 1. Define the full registry path/tag
        # The tag includes the unique GitHub SHA to ensure immutability and trackability.
             FULL_IMAGE_TAG="${{ env.AR_REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.AR_REPOSITORY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}"LATEST_TAG="${{ env.AR_REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.AR_REPOSITORY }}/${{ env.IMAGE_NAME }}:latest"
        
             echo "Building image tagged: ${FULL_IMAGE_TAG}"
        
        # 2. Build the image, applying two tags (latest and SHA)
        # Assumes your Dockerfile is in the repository root (context: .)
             docker build -t ${FULL_IMAGE_TAG} -t ${LATEST_TAG} .
        
        # 3. Push both tags to Artifact Registry
             echo "Pushing images to Artifact Registry..."
             docker push ${FULL_IMAGE_TAG}
             docker push ${LATEST_TAG}
        
        # Output the full tag for use in later deployment steps (if you continue)
             echo "image-tag=${FULL_IMAGE_TAG}" >> $GITHUB_OUTPUT


        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
